.view {
    width: 750px;
    height: 1000px;
    margin: 10px;
    float: left;
    
    overflow: hidden;
    position: relative;
    text-align: center;
    
    cursor: default;
    background:"#01090f"
}
.view .mask, .view .content {
    width: 1000px;
    height: 1240px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
    display: block;
    position: relative
}


.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    align-self: center;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}
.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(254,130,58, 0.7); 
    transition: all 0.4s ease-in-out;
}

.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}
.view-first:hover img { 
	transform: scale(1.1);
} 
.view-first:hover .mask { 
	opacity: 1;
}

.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}

.view-first:hover a.info {
    transition-delay: 0.2s;
}


